body {
    background-image: url("images/bustop.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
.bord {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
    padding-top: 12.5%;
}
.bord .con{
    
    margin-top: 5em;
    margin-left: 5em;
    width:25em;
    height:22em;
    color: white;
    background-color: rgb(218, 86, 255);
    box-shadow: rgb(176, 140, 184) 11px 11px;
    border-radius: 2em;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}

h2 {
    font-size: 90px;

    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 120px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: green;
}
#decrement-btn {
    background: darkred;
}

#save-btn {
    background: rgb(247, 255, 12);
}
.cover{
    background-image: white;
    height: 100px;
    width: 100%;
}